{{#each items as |item id|}}
<li class="item badass-row" data-item-id="{{ item._id }}">
    <div class="item-image badass-col col-3">
        <a class="rollable" data-roll-type="item">
            <img src="{{ item.icon }}" title="{{ item.name }}" width="24" height="24" />
        </a>
    </div>
    <div class="item-name badass-col col-7">
        <h4>{{ item.name }}</h4>
    </div>
    <div class="item-controls badass-col col-2">
        <div class="badass-row">
            <div class="badass-col">
                <a
                    class="item-control item-edit"
                    title="{{localize 'DOCUMENT.Update' type=item.type}}"
                    data-action="edit{{item.type}}"
                    data-key="{{ item.key }}"
                >
                    <i class="fas fa-edit"></i>
                </a>
            </div>
            <div class="badass-col">
                <a
                    class="item-control item-delete"
                    title="{{localize 'DOCUMENT.Delete' type=item.type}}"
                    data-action="delete{{item.type}}"
                    data-key="{{ item.key }}"
                >
                    <i class="fas fa-trash"></i>
                </a>
            </div>
        </div>
    </div>
</li>
{{/each}}
