<section class="badass-section badass-favored-guns">
    <div class="badass-row">
        <h2 title="{{localize "SHEETS.actor.vaultHunter.favoredGun.hint"}}">
            {{localize
                'SHEETS.actor.vaultHunter.favoredGun.label'
            }}
        </h2>
    </div>
    {{#each gunTypes}}
    <div class="badass-row badass-favored-gun">
        <div class="badass-col favGunCheckBlock col-2">
            <input
                type="checkbox"
                id="{{ this.key }}"
                name="{{ this.key }}"
                {{checkInArray
                actor.favoredGuns
                this.key}}
            />
        </div>
        <div class="badass-col favGunIconBlock col-4">
            <image src="{{ this.icon }}" title="{{localize this.name}}" />
        </div>
        <div class="badass-col favGunNameBlock col-6">
            <label for="{{ this.key }}" title="{{ this.description }}">{{localize this.name}}</label>
        </div>
    </div>
    {{/each}}
</section>
