<section class="badass-section" style="max-height: 165px">
    <div class="badass-row">
        <div class="badass-col col-1">placeholder for image</div>
        <div class="badass-col">
            <div class="badass-input">
                <input class="archeTypeInput" value="{{localize 'SHEETS.actor.vaultHunter.archetype.label' }}" disabled="true">
                {{> lookup id='archetype' label='SHEETS.actor.vaultHunter.archetype.label' hint='SHEETS.actor.vaultHunter.archetype.hint' browser='archetypes' value=system.archetype }}
            </div>
        </div>
        <div class="badass-col col-2">
            <div class="badass-input">
                <label for="class" class="badass-label" title="{{localize 'SHEETS.actor.vaultHunter.class.hint'}}">
                    {{localize 'SHEETS.actor.vaultHunter.class.label'}}
                </label>
                <input
                    name="system.class"
                    type="text"
                    value="{{ system.class }}"
                    placeholder="{{localize 'SHEETS.actor.vaultHunter.class.label'}}"
                />
            </div>
        </div>
    </div>
    <div class="badass-row">
        <div class="badass-col col-3">
            <div class="badass-input">
                <label
                    for="name"
                    class="badass-label"
                    title="{{localize 'SHEETS.actor.vaultHunter.name.hint'}}"
                    >{{localize 'SHEETS.actor.vaultHunter.name.label'}}</label
                >
                <input
                    name="name"
                    type="text"
                    value="{{ actor.name }}"
                    placeholder="{{localize 'SHEETS.actor.vaultHunter.name.label'}}"
                />
            </div>
        </div>
        <div class="badass-col col-3">
            <div class="badass-input">
                <label
                    for="actor.background"
                    class="badass-label"
                    title="{{localize 'SHEETS.actor.vaultHunter.background.hint'}}"
                >
                    {{localize 'SHEETS.actor.vaultHunter.background.label'}}</label
                >
                <input
                    name="system.background"
                    type="text"
                    value="{{ system.background }}"
                    placeholder="{{localize 'SHEETS.actor.vaultHunter.background.label'}}"
                />
            </div>
        </div>
        <div class="badass-col col-1">
            <div class="badass-input">
                <label
                    for="actor.level"
                    class="badass-label"
                    title="{{localize 'SHEETS.actor.vaultHunter.level.hint'}}"
                    >{{localize 'SHEETS.actor.vaultHunter.level.label'}}</label
                >
                <input
                    name="system.level"
                    type="text"
                    value="{{ system.level }}"
                    placeholder="{{localize 'SHEETS.actor.vaultHunter.level.label'}}"
                />
            </div>
        </div>
    </div>
    <div class="resources">
        <div class="badass-input">
            <label
                for="system.actionSkill.value"
                class="badass-label"
                title="{{localize 'SHEETS.actor.vaultHunter.actionSkill.hint'}}"
                >{{localize
                    'SHEETS.actor.vaultHunter.actionSkill.label'
                }}</label
            >
            <input
                name="system.actionSkill.value"
                type="text"
                value="{{ system.actionSkill.value }}"
                placeholder="{{localize 'SHEETS.actor.vaultHunter.actionSkill.label'}}"
            />
        </div>
    </div>
</section>
