<section class="actor-section">
    <div class="actor-row">
        <div class="actor-col col-1">placeholder for image</div>
        <div class="actor-col">
            <label for="archetype" class="actor-label" title="{{localize 'SHEETS.actor.vaultHunter.archetype.hint'}}">
                {{localize 'SHEETS.actor.vaultHunter.archetype.label'}}
            </label>
            <input
                name="system.archetype"
                type="text"
                value="{{ system.archetype }}"
                placeholder="{{localize 'SHEETS.actor.vaultHunter.archetype.label'}}"
            />
        </div>
        <div class="actor-col col-2">
            <label for="class" class="actor-label" title="{{localize 'SHEETS.actor.vaultHunter.class.hint'}}">
                {{localize 'SHEETS.actor.vaultHunter.class.label'}}
            </label>
            <input
                name="system.class"
                type="text"
                value="{{ system.class }}"
                placeholder="{{localize 'SHEETS.actor.vaultHunter.class.label'}}"
            />
        </div>
    </div>
    <div class="actor-row">
        <div class="actor-col col-3">
            <label
                for="actor.name"
                class="actor-label"
                title="{{localize 'SHEETS.actor.vaultHunter.name.hint'}}"
                >{{localize 'SHEETS.actor.vaultHunter.name.label'}}</label
            >
            <input
                name="actor.name"
                type="text"
                value="{{ actor.name }}"
                placeholder="{{localize 'SHEETS.actor.vaultHunter.name.label'}}"
            />
        </div>
        <div class="actor-col col-3">
            <label
                for="actor.background"
                class="actor-label"
                title="{{localize 'SHEETS.actor.vaultHunter.background.hint'}}"
            >
                {{localize 'SHEETS.actor.vaultHunter.background.label'}}</label
            >
            <input
                name="system.background"
                type="text"
                value="{{ system.background }}"
                placeholder="{{localize 'SHEETS.actor.vaultHunter.background.label'}}"
            />
        </div>
        <div class="actor-col col-1">
            <label
                for="actor.level"
                class="actor-label"
                title="{{localize 'SHEETS.actor.vaultHunter.level.hint'}}"
                >{{localize 'SHEETS.actor.vaultHunter.level.label'}}</label
            >
            <input
                name="system.level"
                type="text"
                value="{{ system.level }}"
                placeholder="{{localize 'SHEETS.actor.vaultHunter.level.label'}}"
            />
        </div>
    </div>
    <div class="resources">
        <label
            for="system.actionSkill.value"
            class="actor-label"
            title="{{localize 'SHEETS.actor.vaultHunter.actionSkill.hint'}}"
            >{{localize
                'SHEETS.actor.vaultHunter.actionSkill.label'
            }}</label
        >
        <input
            name="system.actionSkill.value"
            type="text"
            value="{{ system.actionSkill.value }}"
            placeholder="{{localize 'SHEETS.actor.vaultHunter.actionSkill.label'}}"
        />
    </div>
</section>
