<section class="badass-section" style="max-height: 50px">
    <div class="badass-row">
        <div class="badass-col col-2">
            <div class="badass-input">
                <label
                    for="system.xp.current"
                    class="badass-label"
                    title="{{localize 'SHEETS.actor.vaultHunter.xp.current.hint'}}"
                >
                    {{localize 'SHEETS.actor.vaultHunter.xp.current.label'}}
                </label>
                <input name="system.xp.current" type="number" value="{{ system.xp.current }}" />
            </div>
        </div>
        <div class="badass-col col-8">{{> epBar}}</div>
        <div class="badass-col col-2">
            <div class="badass-input">
                <label
                    for="system.xp.segment"
                    class="badass-label"
                    title="{{localize 'SHEETS.actor.vaultHunter.xp.segment.hint'}}"
                >
                    {{localize 'SHEETS.actor.vaultHunter.xp.segment.label'}}
                </label>
                <input name="system.xp.segment" type="number" disabled value="{{ system.xp.segment }}" />
            </div>
        </div>
    </div>
</section>
