<ol class="items-list">
    {{#each defenses as |def id|}}
        <li class="item flexrow" data-item-id="{{def.key}}">
            <div class="item-name">
                <h4>{{def.name}}</h4>
            </div>
            </br>
            <div class="resources grid">
                <div class="resources grid grid-6col">
                    <label for="defense_{{def.key}}_current">Current</label>
                    <input name="defense_{{def.key}}_current" type="number" value="{{dev.current}}" max="{{def.max}}" min="0" data-dtype="Number" />
                </div>
                <div class="resources grid grid-6col">
                    <label for="defense_{{def.key}}_max">Max</label>
                    <input name="defense_{{def.key}}_max" type="number" value="{{dev.max}}" min="0" data-dtype="Number" />
                </div>
            </div>
        </li>
    {{/each}}
</ol>