<div class="input-lookup">
    <label for="input-lookup-{{ id }}" class="badass-label" title="{{localize hint}}">
        {{localize label}}
    </label>
    <div class="input-lookup-field">
        <span>{{ value }}</span>
        <button type="button" class="input-lookup-button" id="{{ id }}" data-browser="{{ browser }}">
            <i class="fas fa-search"></i>
        </button>
    </div>
</div>
