<div class='badass settings'>
    <section class='sidebar'>
        <fieldset class='sidebar-list'>
            <legend>{{localize 'SETTINGS.defenses.label'}}</legend>
            <ul>
                {{#each entries as |defense|}}
                    <li class='sidebar-list-item' data-action='editEntry' data-key='{{defense.key}}'>{{localize
                            defense.name
                        }}</li>
                {{/each}}
                <li class='sidebar-list-item' data-action='addEntry'><i class='fa-solid fa-plus icon'></i>{{localize
                        'SETTINGS.defenses.add.label'
                    }}</li>
            </ul>
        </fieldset>
    </section>
    {{#if selectedEntry}}
        <section class='content'>
            <fieldset>
                <legend>{{localize 'SETTINGS.defenses.edit.label'}}</legend>
                <label for='defenseKey'>{{localize 'SETTINGS.defenses.key.label'}}</label>
                <input
                    type='text'
                    id='defenseKey'
                    value='{{selectedEntry.key}}'
                    data-property='key'
                    title='{{localize "Settings.defense.key.hint"}}'
                />

                <label for='defenseName'>{{localize 'SETTINGS.defenses.name.label'}}</label>
                <input
                    type='text'
                    id='defenseName'
                    value='{{selectedEntry.name}}'
                    data-property='name'
                    title='{{localize "Settings.defense.name.hint"}}'
                />

                <label for='defenseDescription'>{{localize 'SETTINGS.defenses.description.label'}}</label>
                <input
                    type='text'
                    id='defenseDescription'
                    value='{{selectedEntry.description}}'
                    data-property='description'
                    title='{{localize "Settings.defense.description.hint"}}'
                />

                <label for='elementIcon'>{{localize 'SETTINGS.elements.icon.label'}}</label>
                <file-picker
                    type='image'
                    id='elementIcon'
                    value='{{selectedEntry.icon}}'
                    data-property='icon'
                ></file-picker>

                <label for='defenseOrder'>{{localize 'SETTINGS.defenses.order.label'}}</label>
                <input
                    type='number'
                    id='defenseOrder'
                    value='{{selectedEntry.order}}'
                    data-property='order'
                    title='{{localize "Settings.defense.order.hint"}}'
                />

                <label for='defenseIsLife'>{{localize 'SETTINGS.defenses.isLife.label'}}</label>
                <input
                    type='checkbox'
                    id='defenseIsLife'
                    {{checked selectedEntry.isLife}}
                    data-property='isLife'
                    title='{{localize "Settings.defense.isLife.hint"}}'
                />

                <label for='defenseRequiresItem'>{{localize 'SETTINGS.defenses.requiresItem.label'}}</label>
                <input
                    type='checkbox'
                    id='defenseRequiresItem'
                    {{checked selectedEntry.requiresItem}}
                    data-property='requiresItem'
                    title='{{localize "Settings.defense.requiresItem.hint"}}'
                />

                <div class='settings-buttons'>
                    <button type='button' class='btn btn-primary' data-action='saveEntry'>
                        {{localize 'SETTINGS.buttons.save'}}
                    </button>
                    <button type='button' class='btn btn-danger' data-action='removeEntry'>
                        {{localize 'SETTINGS.buttons.remove'}}
                    </button>
                </div>
            </fieldset>
        </section>
    {{/if}}
</div>