<div class='badass settings'>
    <section class='sidebar'>
        <fieldset class='sidebar-list'>
            <legend>{{localize 'SETTINGS.elements.label'}}</legend>
            <ul>
                {{#each entries as |element|}}
                    <li class='sidebar-list-item' data-action='editEntry' data-key='{{element.key}}'>
                        {{#if element.icon}}
                        <img class="icon" src="{{element.icon}}" />
                        {{/if}}
                        {{localize element.name}}
                    </li>                        
                {{/each}}
                <li class='sidebar-list-item' data-action='addEntry'><i class="fa-solid fa-plus icon"></i>{{localize 'SETTINGS.elements.add.label'}}</li>
            </ul>
        </fieldset>
    </section>
    {{#if selectedEntry}}
        <section class='content'>
            <fieldset>
                <legend>{{localize 'SETTINGS.elements.edit.label'}}</legend>
                <label for='elementKey'>{{localize 'SETTINGS.elements.key.label'}}</label>
                <input
                    type='text'
                    id='elementKey'
                    value='{{selectedEntry.key}}'
                    data-property='key'
                    title='{{localize "Settings.element.key.hint"}}'
                />

                <label for='elementName'>{{localize 'SETTINGS.elements.name.label'}}</label>
                <input
                    type='text'
                    id='elementName'
                    value='{{selectedEntry.name}}'
                    data-property='name'
                    title='{{localize "Settings.element.name.hint"}}'
                />

                <label for='elementDescription'>{{localize 'SETTINGS.elements.description.label'}}</label>
                <input
                    type='text'
                    id='elementDescription'
                    value='{{selectedEntry.description}}'
                    data-property='description'
                    title='{{localize "Settings.element.description.hint"}}'
                />

                <label for='elementIcon'>{{localize 'SETTINGS.elements.icon.label'}}</label>
                <file-picker
                    type='image'
                    id='elementIcon'
                    value='{{selectedEntry.icon}}'
                    data-property='icon'
                ></file-picker>

                <label for='elementColor'>{{localize 'SETTINGS.elements.color.label'}}</label>
                <color-picker id='elementColor' value='{{selectedEntry.color}}' data-property='color'></color-picker>

                <label for='elementStrongAgainst'>{{localize 'SETTINGS.elements.strongAgainst.label'}}</label>
                <multi-select id='elementStrongAgainst' data-property='strongAgainst'>
                    {{#each defenses as |defense|}}
                        <option
                            value='{{defense.key}}'
                            title='{{localize defense.description}}'
                            {{isInArray defense.key ../selectedEntry.strongAgainst}}
                        >{{localize defense.name}}
                            ({{defense.key}})</option>
                    {{/each}}
                </multi-select>

                <label for='elementWeakAgainst'>{{localize 'SETTINGS.elements.weakAgainst.label'}}</label>
                <multi-select id='elementWeakAgainst' data-property='weakAgainst'>
                    {{#each defenses as |defense|}}
                        <option
                            value='{{defense.key}}'
                            title='{{localize defense.description}}'
                            {{isInArray defense.key ../selectedEntry.weakAgainst}}
                        >{{localize defense.name}}
                            ({{defense.key}})</option>
                    {{/each}}
                </multi-select>

                <label for='elementIgnores'>{{localize 'SETTINGS.elements.ignores.label'}}</label>
                <multi-select id='elementIgnores' data-property='ignores'>
                    {{#each defenses as |defense|}}
                        <option
                            value='{{defense.key}}'
                            title='{{localize defense.description}}'
                            {{isInArray defense.key ../selectedEntry.ignores}}
                        >{{localize defense.name}}
                            ({{defense.key}})</option>
                    {{/each}}
                </multi-select>

                <div class='settings-buttons'>
                    <button type='button' class='btn btn-primary' data-action='saveEntry'>
                        {{localize 'SETTINGS.buttons.save'}}
                    </button>
                    <button type='button' class='btn btn-danger' data-action='removeEntry'>
                        {{localize 'SETTINGS.buttons.remove'}}
                    </button>
                </div>
            </fieldset>
        </section>
    {{/if}}
</div>