<div class="itemCardHeader itemCardFlex" >
    <div class="itemCardManRar itemHeaderQuarter item{{system.rarity}}" >
        <div class="itemCardManufacturer">
            {{> pictureSelector choices=manufacturers name="manufacturer" selected=system.manufacturer.name}}
        </div>
        <div class="itemCardRarity">
            {{> pictureSelector choices=rarities name="rarity" selected=system.rarity descriptor=true}}
        </div>
    </div>
    <div class="itemCardName" >
        <input class="itemCardNameInput" name="name" type="text" value="{{item.name}}" placeholder="{{itemDescriptor}} Name"/>
    </div>
    <div class="itemCardLvlType itemHeaderQuarter item{{system.rarity}}" >
        <div class="itemCardLvl" >
            <div class="itemLevelLabel">
                {{localize "badass.item.gun.level.label"}}:
            </div>
            <div class="itemLevelInput">
                {{> stdInput inputClass="levelInput" inputValue=system.level inputName="system.level" data-action="updateLevel"}}
            </div>
        </div>
        {{#if itemTypes}}
        <div class="itemCardType" >
            {{> pictureSelector choices=itemTypes name="type" selected=system.type descriptor=true}}
        </div>
        {{/if}}
    </div>
</div>