<form class="gunItemSheet {{cssClass}}" autocomplete="off">
	<div class="itemCardSheet item{{system.rarity}}" >
		{{> manuItemHeader manufacturers=manufacturers itemTypes=gunTypes itemType=type}}
		<div class="itemCardRollAndImage itemCardFlex item{{system.rarity}}" >
			<div class="itemDataBlock itemCardFlex" >
				<div class="itemDataHeader" > {{localize "badass.item.gun.accuracy.label"}} </div>
				<div class="gunCardAccuracy itemCardFlex" >
					<div class="gunCardD20AndMods" >
						{{> "d20"}}
						{{> stdInput inputClass="itemCardInput" inputValue=system.statMods.acc inputName="system.statMods.acc"}}
						<div class="gunCardModText">
							{{localize "badass.generic.mod.label"}}
						</div>
					</div>
					<div class="gunCardHitsAndCrits" >
						{{#each system.accuracy}}
							{{> "gunCardHitLine" low=low high=high hitCategory="none" hits=hits crits=crits}}
						{{/each}}
					</div>
				</div>
				<div class="itemDataHeader" > {{localize "badass.item.gun.damage.label"}} </div>
				<div class="gunCardDamage itemCardFlex">
					<div class="gunCardDamageDie">
						{{#if system.damage}}
							{{> hbsSelector choices=dice name="damageDie" selected=(concat "d" (getDiceSize system.damage))}}
						{{else}}
							{{> hbsSelector choices=dice name="damageDie"}}
						{{/if}}
					</div>
					<div class="gunCardDiceMulti">
						{{#if system.damage}}
							<div class="gunCardMultiSign{{#equals (getDiceCount system.damage) 1}} gunCardSingleDice{{/equals}}">x</div>
							<input class="gunCardDiceMultiInput	{{#equals (getDiceCount system.damage) 1}}gunCardSingleDice{{/equals}}"
								onfocus="this.select()"
								value="{{getDiceCount system.damage}}"
								min="1"	type="number" data-dtype="Number"
							/>
						{{else}}
							<div class="gunCardMultiSign gunCardSingleDice">x</div>
							<input class="gunCardDiceMultiInput gunCardSingleDice"
								onfocus="this.select()"
								value="1" min="1" type="number" data-dtype="Number"
							/>
						{{/if}}
					</div>
					<div class="gunCardDicePer">
						{{localize "badass.item.gun.per.label"}}
					</div>
					<div class="gunCardDicePlus">
						+
					</div>
					{{> stdInput inputClass="itemCardInput" inputValue=system.statMods.dmg inputName="system.statMods.dmg"}}
				</div>
				<div class="itemDataHeader gunCardRange">
					<div> {{localize "badass.item.gun.range.label"}}: </div>
					{{> stdInput inputClass="itemCardInput" inputValue=system.range inputName="system.range"}}
					<div>{{localize "badass.generic.square.short"}}</div>
				</div>
			</div>
			<div class="itemCardPicture" >
				<img src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
			</div>
		</div>
		{{> manuItemNotes}}
	</div>
</form>