<form class="gunItemSheet {{cssClass}}" autocomplete="off">
	<div class="itemCardSheet {{system.rarity.colorValue}}" >
		{{> manuItemHeader manufacturers=manufacturers itemTypes=gunTypes itemType=type}}
		<div class="gunCardRollAndImage itemCardFlex" >
			<div class="itemDataBlock itemCardFlex" >
				<div class="itemDataHeader" > {{localize "badass.item.gun.accuracy.label"}} </div>
				<div class="gunCardAccuracy itemCardFlex" >
					<div class="gunCardD20AndMods" >
						{{> "d20"}}
						<input class="itemCardInput" 
							onfocus="this.select()"
							value="{{system.statMods.acc}}" 
							name="system.statMods.acc"
							type="number" data-dtype="Number"
						/>
						{{localize "badass.generic.mod.label"}}
					</div>
					<div class="gunCardHitsAndCrits" >
						{{#each system.accuracy}}
							{{> "gunCardHitLine" low=low high=high hitCategory="none" hits=hits crits=crits}}
						{{/each}}
					</div>
				</div>
				<div class="itemDataHeader" > {{localize "badass.item.gun.damage.label"}} </div>
				<div class="gunCardDamage itemCardFlex">
					{{#if system.damage}}
						{{> (concat "d" (getDiceSize system.damage))}}
					<div class="gunCardDiceMulti">
						{{#unequals 1 (getDiceCount system.damage)}}
							x{{getDiceCount ../system.damage}}
						{{/unequals}}
					</div>
					<div class="gunCardDicePer">
						{{localize "badass.item.gun.per.label"}}
					</div>
					<div class="gunCardDicePlus">
						+
					</div>
					{{/if}}
					<input class="itemCardInput"
						onfocus="this.select()"
						value="{{system.statMods.dmg}}"
						name="system.statMods.dmg"
						type="number" data-dtype="Number"
					/> 
				</div>
				<div class="itemDataHeader gunCardRange">
					<div> {{localize "badass.item.gun.range.label"}}: </div>
					<input class="itemCardInput"
						onfocus="this.select()"
						value="{{system.range}}"
						name="system.range"
						type="number" data-dtype="Number"
					/> 
					<div>{{localize "badass.generic.square.short"}}</div>
				</div>
			</div>
			<div class="itemCardPicture" >
				<img src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
			</div>
		</div>
		{{> manuItemNotes}}
	</div>
</form>