<form class="shieldItemSheet {{cssClass}}" autocomplete="off">
	<div class="itemCardSheet {{system.rarity.colorValue}}" >
		{{> manuItemHeader manufacturers=manufacturers itemTypes=shields }}
		<div class="itemCardRollAndImage itemCardFlex item{{system.rarity}}" >
			<div class="itemDataBlock itemCardFlex" >
				<div class="itemDataHeader" > CAPACITY </div>
				<div class="shieldCapacity">
					<div class="shieldCapacityImage">

					</div>
					<div class="shieldCapacityData itemCardFlex">
						{{> stdInput inputClass="itemCardInput" inputValue=system.current inputName="system.current" minimum='0'}}
						/
						{{> stdInput inputClass="itemCardInput" inputValue=system.max inputName="system.max" minimum='0'}}
					</div>
				</div>
				<div class="itemDataHeader" > REGEN </div>
				<div class="shieldRegen">
					{{> stdInput inputClass="itemCardInput" inputValue=system.regen inputName="system.regen"}}
				</div>
			</div>
			<div class="itemCardPicture" >
				<img src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
			</div>
		</div>
		{{> manuItemNotes}}
	</div>
</form>